/*VARIABLES ET MIXIN*/
@-webkit-keyframes loading-bar {
  0% {
    -webkit-transform: scaleY(1) translateX(-100px);
            transform: scaleY(1) translateX(-100px);
  }
  100% {
    -webkit-transform: scaleY(0.3) translateX(0) rotateY(360deg);
            transform: scaleY(0.3) translateX(0) rotateY(360deg);
    opacity: 0.3;
  }
}
@keyframes loading-bar {
  0% {
    -webkit-transform: scaleY(1) translateX(-100px);
            transform: scaleY(1) translateX(-100px);
  }
  100% {
    -webkit-transform: scaleY(0.3) translateX(0) rotateY(360deg);
            transform: scaleY(0.3) translateX(0) rotateY(360deg);
    opacity: 0.3;
  }
}

@-webkit-keyframes loading-text {
  0% {
    -webkit-transform: translateX(-900px);
            transform: translateX(-900px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(900px);
            transform: translateX(900px);
  }
}

@keyframes loading-text {
  0% {
    -webkit-transform: translateX(-900px);
            transform: translateX(-900px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(900px);
            transform: translateX(900px);
  }
}

@-webkit-keyframes display-loader {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes display-loader {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*loader*/
.load {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(8, 8, 8, 0.897);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  visibility: hidden;
  -webkit-animation: display-loader 5s;
          animation: display-loader 5s;
}

.load__text {
  color: #99E2D0;
  font-size: 30px;
  font-family: 'Shrikhand', 'sans-serif';
  -webkit-animation: loading-text 2.5s infinite both;
          animation: loading-text 2.5s infinite both;
  position: absolute;
  top: 70px;
}

.load__bar {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  height: 150px;
  width: 12px;
  border-radius: 100px;
  -webkit-animation: loading-bar 1.5s infinite backwards;
          animation: loading-bar 1.5s infinite backwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.load__bar--1, .load__bar--2 {
  background-color: #9356DC;
}

.load__bar--3, .load__bar--4 {
  background-color: #99E2D0;
}

.load__bar--5, .load__bar--6 {
  background-color: #FF79DA;
}

.load__bar--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.load__bar--2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.load__bar--3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.load__bar--4 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.load__bar--5 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.load__bar--6 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

/*body*/
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

/*header*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 65px;
  width: 100%;
  -webkit-box-shadow: 0px 2px 5px #a19999;
          box-shadow: 0px 2px 5px #a19999;
}

header h1 {
  font-family: 'Shrikhand', 'sans-serif';
  font-size: 31px;
  margin: 0;
}

/*location*/
.loc {
  background-color: #e6e4e4;
  height: 50px;
  margin: 0;
  margin-left: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4e4c4c;
  font-weight: 500;
}

.loc i {
  padding: 10px;
  margin-right: 6px;
}

/*explore*/
.explore {
  background-color: #f3f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.explore__heading {
  text-align: center;
  margin: 0;
  padding: 0 10px;
}

.explore__text {
  text-align: center;
  color: #888484;
}

.explore__button {
  -webkit-box-shadow: 0px 8px 12px rgba(48, 46, 46, 0.2);
          box-shadow: 0px 8px 12px rgba(48, 46, 46, 0.2);
  margin: 13px 0;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  padding: 17px;
  border-radius: 50px;
  -webkit-transition: opacity 0.5s, -webkit-box-shadow 0.5s;
  transition: opacity 0.5s, -webkit-box-shadow 0.5s;
  transition: opacity 0.5s, box-shadow 0.5s;
  transition: opacity 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
  text-align: center;
}

.explore__button:hover {
  opacity: 0.7;
  -webkit-box-shadow: 0px 8px 9px rgba(87, 85, 85, 0.6);
          box-shadow: 0px 8px 9px rgba(87, 85, 85, 0.6);
  cursor: pointer;
}

/*filter*/
.filter {
  padding: 20px 20px;
}

.filter__fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter__fonction__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 62px;
  background-color: #f3f2f2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  margin-left: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 10px #e6dfdf;
          box-shadow: 0px 4px 10px #e6dfdf;
  font-weight: 500;
  -webkit-transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.filter__fonction__cont:hover {
  background-color: #f3e9ff;
  -webkit-box-shadow: 0px 4px 13px rgba(161, 159, 159, 0.6);
          box-shadow: 0px 4px 13px rgba(161, 159, 159, 0.6);
  cursor: pointer;
}

.filter__fonction__logo {
  color: #888484;
  padding: 0 20px;
}

.filter__fonction__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356DC;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 11px;
  color: white;
  margin-left: -10px;
}

.restau {
  padding: 20px 20px 60px 20px;
  background-color: #f3f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restau__title {
  padding-top: 8px;
  margin-bottom: 0;
}

.restau__cont {
  margin-top: 20px;
  position: relative;
  border-radius: 30px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 10px #e6dfdf;
          box-shadow: 0px 4px 10px #e6dfdf;
}

.restau__cont__new {
  background-color: #99E2D0;
  color: #2b887c;
  font-weight: 500;
  font-size: 12px;
  padding: 7px 13px;
  border-radius: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 15px;
  top: 5px;
}

.restau__cont__img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 30px 0 0;
  height: 150px;
  width: 100%;
}

.restau__cont__legend {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.restau__cont__legend h3 {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 16px;
}

.restau__cont__legend p {
  margin-top: 5px;
}

.restau__cont__legend__heart {
  font-size: 20px;
  padding-right: 8px;
  color: white;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: black;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.restau__cont__legend__heart:hover {
  color: transparent;
  background: -webkit-linear-gradient(160deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 0px;
  cursor: pointer;
}

/**footer**/
footer {
  padding: 20px;
  background-color: #3f3f3f;
}

footer ul {
  list-style: none;
  padding-left: 0;
  font-size: 12px;
}

footer ul li {
  margin-bottom: 7px;
}

footer ul .fas {
  color: white;
  width: 15px;
  font-size: 10px;
}

footer h3 {
  font-family: 'Shrikhand', 'sans-serif';
  font-size: 18px;
  font-weight: lighter;
  color: white;
  margin-top: 0;
  margin-bottom: 15px;
}

@media all and (min-width: 768px) {
  .filter-fonction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .filter-fonction__cont {
    width: 300px;
  }
  .restau__cont {
    width: 50%;
    cursor: pointer;
  }
  .restau a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: auto;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer h3 {
    margin-right: 20px;
  }
}
/*# sourceMappingURL=style.css.map */